$primary: #c9184a !default;
$secondary: #590d22 !default;
$light: #ffb3c1 !default;
$dark: #ffb3c1 !default;

/* $primary: #e63946 !default;
$secondary: #1d3557 !default;
$light: #457b9d !default;
$dark: #457b9d !default; */

$theme-colors: (
    "primary": $primary,
    // PRINCIPAL, TÍTULOS
    "secondary": $secondary,
    // BOTÕES, LINKS, HOVERS
    "success": $primary,
    "light": $light,
    "dark": $light,
) !default;

// Classes personlizadas
$link-color: $secondary; //LINKS
$body-bg: #fff0f3 !default; //BACKGROUND GERAL
$body-color: black !default; //LINKS CORES DAS LETRAS GERAIS
